################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JenningsRE/.vs/JenningsRE
/JenningsRE/JenningsRE/bin/Debug
/JenningsRE/JenningsRE/obj/Debug
/JenningsRE/packages/Google.Protobuf.3.5.1/lib/net45
/JenningsRE/packages/MySql.Data.8.0.15/lib/net452
